@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
}
img{
	vertical-align: middle;
}
ol, ul{
	list-style: none;
}
a,
a:hover,
a:focus{
	text-decoration: none;
	outline: 0;
}
button,
button:hover,
button:focus{
	text-decoration: none;
	outline: 0;
}
body{
	font-family: 'Lato', sans-serif;
}



/*------------Start Header----------------*/
header{
    margin-top: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px;
    z-index: 100000;

}
header.sticky{
    margin-top: 0;
    padding: 5px 50px;
    background-color: #333333;
}
header.sticky li{
    padding-top: 10px;
}
header .logo{
    position: relative;
    transition: 0.6s;
}
header .logo img{
    height: 60px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    color: #dadada;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
header ul li a:hover{
    color: #ffffff;
    font-weight: 600;
}
/*------------End Header----------------*/


/*=========================
Start Home Page CSS
==========================*/
/*------------Start Banner----------------*/
.home_banner{
    text-align: center;
    margin-top: -20px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/home_banner\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home_banner h1{
    font-size: 69px;
    color: #ffffff;
    padding-top: 350px;
    text-transform: uppercase;
}
.home_banner h3{
    color: #ffffff;
    font-size: 42px;
    text-transform: uppercase;
}
.home_banner .mainbtn{
    background-color: #333333;
    border-radius: 50px;
    margin-top: 20px;
    border: 0;
    padding: 13px 25px;
}
.home_banner .mainbtn:hover{
    background-color: #686868;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.home_banner .mainbtn a{
    color: #ffffff;
    text-decoration: none;
}
/*------------End Banner----------------*/

/*------------Start About Section----------------*/
.about_sec_home{
    margin: 100px 0;
}
.about_sec_home .abt-sec-p2{
    background-color: #000000;
    margin-top: -200px;
    margin-bottom: 200px;
    z-index: 1;
    padding: 50px;
    margin-left: -12px;
}
.about_sec_home .abt-sec-p2 h2, .abt-sec-p3 h2, .work_section h2, .product_sec h2, .blog_sec h2{
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.about_sec_home .abt-sec-p2 p, .abt-sec-p3 p{
    color: #ffffff;
    text-align: justify;
    font-size: 17px;
}
.about_sec_home .abt-sec-p2 .abt-btn, .seemore_btn, .recent_p_btn, .product_sec .abt-btn, .blog_sec .seemore_btn{
    background-color: #333333;
    border-radius: 50px;
    padding: 12px 25px;
    margin-top: 30px;
    border: 0;
}
.about_sec_home .abt-sec-p2 .abt-btn a, .seemore_btn a, .recent_p_btn a, .product_sec .abt-btn a, .blog_sec .seemore_btn a{
    color: #ffffff;
    text-decoration: none;
}
.about_sec_home .abt-sec-p2 .abt-btn, .seemore_btn, .recent_p_btn, .product_sec .abt-btn, .blog_sec .seemore_btn:hover{
    background-color: #686868;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.about_sec_home .abt-sec-p3{
    background-color: #333333;
    padding: 60px;
    margin-top: -250px;
    z-index: 2;
}
/*------------End About Section----------------*/

/*------------Start Work Section----------------*/
.work_section, .product_sec{
    margin: 100px 0px;
}
.work_section h2, .product_sec h2, .blog_sec h2{
    color: #333333 !important;
    text-align: center;
}
.work_section .hr-1, .work_section .hr-2, .product_sec .hr-1, .product_sec .hr-2, .blog_sec .hr-1, .blog_sec .hr-2{
    width: 50px;
    height: 3px;
    color: #333333;
}
.work_section .hr-1, .product_sec .hr-1, .blog_sec .hr-1{
    margin: auto;
}
.work_section .hr-2, .product_sec .hr-2, .blog_sec .hr-2{
    margin-left: 40%;
    height:3px;
    margin-top: 5px;
}
.work_section .recent_part{
    margin-top: 60px;
}
.work_section .recent_p1 img{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.work_section .recent_p2{
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 100px 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    margin-left: -25px;
    z-index: 1;
}
.work_section .update-2-2{
    margin-left: 0 !important;
    margin-right: -35px;
}
.work_section .recent_p2 h5{
    color: #333333;
    text-transform: uppercase;
    font-size: 16px;
}
.work_section .recent_p2 h3{
    color: #333333;
    text-transform: uppercase;
    font-size: 30px;
    margin: 20px 0;
}
.work_section .recent_p2 p{
    color: #333333;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.work_section .recent_p2 a{
    color: #333333;
}
.work_section .all_recent{
    text-align: center;
}
/*------------End Work Section----------------*/

/*------------Start Instagram Section----------------*/
.instagram_sec{
    margin: 100px 0;
}
/*------------End Instagram Section----------------*/

/*------------Start Review Section----------------*/
.review_sec .review_part{
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url(../img/Review\ img.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.review_sec .review_part .carousel-item img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 200px;
}
.review_sec .review_part .carousel-item h3{
    color: #ffffff;
    font-size: 30px;
    margin: 20px 0;
}
.review_sec .review_part .carousel-item p{
    color: #dbdbdb;
    margin-top: 0;
    margin-bottom: 300px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 16px;
}
/*------------End Review Section----------------*/

/*------------Start Product Section----------------*/
.product_sec .single_product h5{
    color: #333333;
    font-weight: 700;
}
.product_sec .product_btn{
    text-align: center;
}
.product_sec .single_product img{
    width: 100%;
}
/*------------End Product Section----------------*/

/*------------Start Process Section----------------*/
.process{
    background: url(../img/service.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px;
}
.process .process_img{
    background-color: #00000060;
    text-align: center;
}
.process .process_img h2{
    color: #ffffff;
    text-transform: uppercase;
    margin: 30px;
    letter-spacing: 3px;
}
.process .process_img .icon_pp{
    color: #ffffff;
    font-size: 50px;
}
.process .process_img h5{
    color: #ffffff;
    font-size: 30px;
    margin: 25px 0;
}
.process .process_img p{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 25px;
}
/*------------End Process Section----------------*/

/*------------Start Blog Section----------------*/
.blog_sec{
    margin: 100px 0;
}
.blog_sec .box_blog{
    padding: 50px;
}
.blog_sec .single_blog{
    margin: 30px 0;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.blog_sec .single_blog img{
    width: 100%;
    height: 250px;
}
.blog_sec .single_blog h3{
    color: #333333;
    font-size: 42px;
    margin: 15px 0;
}
.blog_sec .single_blog p{
    color: #333333;
    font-size: 18px;
}
.blog_sec .single_blog a{
    text-decoration: none;
    color: #333333;
    font-size: 22px;
    font-weight: 600;
}
.blog_sec .blog_btn{
    text-align: center;
}
/*------------End Blog Section----------------*/

/*=========================
End Home Page CSS
==========================*/





/*=========================
Start Gallery Page CSS
==========================*/
.gallery_sec{
    margin: 100px 0;
}
.gallery_sec .item{
    transition: .5s ease-in-out;
}
.gallery_sec .item img{
    border-radius: 25px;
}
.gallery_sec .item:hover{
    filter: brightness(80%);
}
/*=========================
End Gallery Page CSS
==========================*/




/*=========================
Start Shop Page CSS
==========================*/
.shop_banner{
    background: url(../img/gallery.jpg);
    text-align: center;
    margin-top: -20px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.shop_banner p, p a{
    padding-top: 300px;
    color: #ffffff;
    text-decoration: none;
}
.shop_banner h1{
    font-size: 69px;
    color: #ffffff;
    text-transform: uppercase;
}
.product_sec .part_3_product h3{
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/*=========================
End Shop Page CSS
==========================*/





/*=========================
Start Quote Page CSS
==========================*/
.quote_sec{
    text-align: center;
    margin-top: -20px;
    position: relative;
    width: 100%;
    background: url(../img/home_banner\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.quote_sec h1{
    font-size: 69px;
    color: #ffffff;
    padding-top: 200px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote_sec .custom_form{
    padding: 100px;
}
.quote_sec .custom_form .quote_form{
    background-color: #f5f5f5;
    padding: 50px;
    border-radius: 25px;
}
.quote_sec .custom_form .quote_form .form-label, .form-check-label{
    display: flex;
    color: #333333;
}
.quote_sec .custom_form .quote_form input, .quote_sec select{
    border: 1px solid #333333;
    border-radius: 50px;
}
.quote_sec .custom_form .quote_form .quote_btn{
    background-color: #333333;
    border-radius: 100px;
    padding: 10px 30px;
}
/*=========================
End Quote Page CSS
==========================*/



/*=========================
Start Appointment Page CSS
==========================*/
.appointment_sec h2{
    color: #ffffff;
    font-size: 40px;
}
/*=========================
End Appointment Page CSS
==========================*/




/*=========================
Start About Page CSS
==========================*/
/*------------Start Banner----------------*/
.news_update{
    background-color: #686868;
}
.news_update p{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 10px;
}
.about_banner{
    margin-top: -20px;
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/about_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about_banner h1{
    font-size: 69px;
    color: #ffffff;
    text-align: center;
    padding-top: 350px;
}
/*------------End Banner----------------*/

/*------------Start About Section----------------*/
.about_part{
    margin-top: 50px;
    margin-bottom: 50px;
    vertical-align: middle;
}
.about_part img{
    height: 610px;
    width: 610px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.about_part p{
    font-size: 20px;
    text-align: justify;
}
.about_part .part_two{
    align-self: center;
}
/*------------End About Section----------------*/
/*=========================
ENd About Page CSS
==========================*/





/*------------Start Footer----------------*/
.footer .subscrib_section{
    background-color: #333333;
    height: 250px;
}
.footer .subscrib_section .subscribe_box{
    padding-top: 120px;
}
.footer .subscrib_section .subscribe_box input{
    background-color: #333333;
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.footer .subscrib_section .subscribe_box button{
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #ffffff;
    border-radius: 50px;
}
.footer .subscrib_section .subscribe_box ::placeholder{
    color: #ffffff;
}
.footer .info_part{
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer .p-one img{
    height: 130px;
}
.footer .p-one p{
    text-align: justify;
}
.info_part{
    text-align: center;
}
.footer .copyright_part{
    background-color: #333333;
}
.footer .copyright_part p{
    color: #ffffff;
    text-align: center;
    padding: 15px 5px;
}
/*------------End Footer----------------*/





/*=================================================
    Start Responsive for iphone 11/12/13 Device
===================================================*/
@media screen and (max-width: 428px){
    .home_banner h1{
        font-size: 32px;
        padding-top: 250px;
    }
    .home_banner h3{
        font-size: 27px;
    }
    .about_sec_home{
        margin: 15px 0;
    }
    .about_sec_home .abt-sec-p2{
        margin-top: 10px;
        padding: 35px;
        margin-bottom: 0px;
        margin-left: 0;
        text-align: center;
    }
    .about_sec_home .abt-sec-p2 h2, .abt-sec-p3 h2, .work_section h2, .product_sec h2, .blog_sec h2{
        margin-bottom: 30px;
    }
    .about_sec_home .abt-sec-p2 .abt-btn, .seemore_btn, .work_section .recent_p2 .recent_p_btn, .product_sec .abt-btn, .blog_sec .seemore_btn{
        margin-top: 20px;
    }
    .about_sec_home .abt-sec-p3{
        padding: 30px;
        margin-top: 10px;
        text-align: center;
    }
    .work_section, .product_sec{
        margin: 50px 0px;
    }
    .work_section .recent_part{
        margin-top: 10px;
    }
    .work_section .recent_p1 img{
        width: 100%;
    }
    .work_section .recent_p2{
        padding: 50px 50px;
        margin-left: 0px;
        margin-top: 10px;
    }
    .work_section .update-2-2{
        margin-right: 0px;
    }
    .work_section .recent_p2 h3{
        font-size: 25px;
    }
    .work_section .recent_p2 p{
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .instagram_sec{
        margin: 50px 0;
    }
    .review_sec .review_part .carousel-item img{
        height: 150px;
        width: 150px;
        margin-top: 150px;
    }
    .review_sec .review_part .carousel-item h3{
        font-size: 20px;
        margin: 15px 0;
    }
    .review_sec .review_part .carousel-item p{
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    .product_sec{
        padding: 20px;
    }
    .process{
        padding: 20px;
    }
    .process .process_img h2{
        margin: 40px 0;
    }
    .process .process_img h5{
        font-size: 25px;
        margin: 15px 0;
    }
    .process .process_img p{
        font-size: 18px;
    }
    .blog_sec{
        margin: 50px 0;
    }
    .blog_sec .box_blog{
        padding: 30px;
    }
    .blog_sec .single_blog img{
        height: 200px;
    }
    .blog_sec .single_blog h3{
        font-size: 30px;
    }
    .blog_sec .single_blog a{
        font-size: 20px;
    }
    .footer .subscrib_section .subscribe_box{
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer .subscrib_section .subscribe_box button{
        margin-left: 120px;
        margin-top: 15px;
    }
    .footer .subscrib_section .subscribe_box ::placeholder{
        text-align: center;
    }
    .footer .info_part{
        padding: 30px;
    }
    .quote_sec h1{
        font-size: 40px;
    }
    .quote_sec .custom_form{
        padding: 30px;
    }
    .quote_sec .custom_form .quote_form{
        padding: 20px;
    }
    .appointment_sec h2{
        font-size: 20px;
    }
    .about_banner{
        background-position: center;
    }
    .about_banner h1{
        font-size: 50px;
    }
    .about_part{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about_part img{
        height: 100%;
        width: 100%;
    }
    .about_part p, h2{
        padding: 10px;
    }
    .about_part .part_two h2{
        margin-top: 20px;
    }
}
/*=========================================
    End Responsive for iphone 11/12/13 Device
===========================================*/




/*=========================================
    Start Responsive for Laptop Device
===========================================*/
@media screen and (min-width: 429px) and (max-width: 767px){
    .home_banner h1{
        font-size: 55px;
        padding-top: 220px;
    }
    .about_sec_home{
        margin: 70px 0;
    }
    .about_sec_home .abt-sec-p2{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .about_sec_home .abt-sec-p2 p, .abt-sec-p3 p{
        font-size: 19px;
    }
    .about_sec_home .abt-sec-p3{
        margin-top: 20px;
    }
    .work_section, .product_sec{
        margin: 70px 0px;
    }
    .work_section .recent_part{
        margin-top: 30px;
    }
    .work_section .recent_p1 img{
        height: 100%;
        width: 100%;
    }
    .work_section .recent_p2{
        margin-left: 0px;
    }
    .review_sec .review_part .carousel-item p{
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .process{
        padding: 10%;
    }
    .footer .subscrib_section .subscribe_box{
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer .subscrib_section .subscribe_box button{
        margin-left: 40%;
        margin-top: 15px;
    }
    .footer .subscrib_section .subscribe_box ::placeholder{
        text-align: center;
    }
    .footer .info_part{
        padding: 30px;
    }
    .quote_sec h1{
        font-size: 40px;
    }
    .quote_sec .custom_form{
        padding: 30px;
    }
    .quote_sec .custom_form .quote_form{
        padding: 20px;
    }
    .appointment_sec h2{
        font-size: 20px;
    }
    .about_banner{
        background-position: center;
    }
    .about_banner h1{
        font-size: 50px;
    }
    .about_part{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about_part img{
        height: 100%;
        width: 100%;
    }
    .about_part p, h2{
        padding: 10px;
    }
    .about_part .part_two h2{
        margin-top: 20px;
    }
}
/*=========================================
    End Responsive for Laptop Device
===========================================*/





/*=========================================
    Start Responsive for Laptop Device
===========================================*/
@media screen and (min-width: 767px) and (max-width: 1199px){
    .about_sec_home .abt-sec-p3 {
        margin-top: -225px;
    }
    .work_section .hr-2, .product_sec .hr-2, .blog_sec .hr-2 {
        margin-left: 45%;
    }
    .work_section .update-2-2 {
        margin-right: -20%;
    }
}
/*=========================================
    End Responsive for Laptop Device
===========================================*/




/*=========================================
    Start Responsive for Desktop Device
===========================================*/
@media screen and (min-width: 1200px) and (max-width: 1439px){
    .home_banner h1{
        padding-top: 250px;
    }
    .about_sec_home{
        margin: 60px 0;
    }
    .work_section, .product_sec{
        margin: 60px 0px;
    }
    .work_section .hr-2, .product_sec .hr-2, .blog_sec .hr-2{
        margin-left: 505px;
    }
    .work_section .update-2-2{
        margin-right: -95px;
    }
}

/*=========================================
    End Responsive for Desktop Device
===========================================*/